    <div id="content"></div> 
<body>
 <%= render "layouts/flash" %>
    <%# <div id="count"></div> %>
    
 <div className='p'>
        <div className='box box-outline '>
        <p> The Number Of URL's Shortened is : <%= $short_count%></p>
        </div>
      </div>
      </body>