<div id="header2"></div>
<body>
  <%= render "layouts/flash" %>
<h4>Your new url is given below</h4>

<div class='container'>
    <div className='p-1 '>
            <div className='box-1'>
      <div className='container'>
        The Original URL is:<input type="text" name="name" value="text2" />
          The Shortened URL is :<input type="text" name="name" value="text" />
          <button class="btn btn-outline-primary" onClick={handleCopy}>Copy</button>
          <a href="/home/next">
              <button class="btn btn-outline-primary" type="button">Next</button>
              </a>
      </div>
      </div>
      </div>
<%# <div id="copy"></div> %>
 </div>
 </body>


